{%load static%}
<title>
    {%block title%}
    Parent
    {%endblock%}
</title>
<link type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}"/>
<link type="text/css" rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}"/>
<table border="1" width="100%">
    <tr>
        <td colspan="7">

            <h1>Header</h1>
           {%if user.id %}

            <h1>{{request.sessions.beni}}</h1>
            <h1>welcome {{user}}</h1>
            <form method="post" action="{%url 'logout'%}">
                {%csrf_token%}
                <input type="submit" value="Logout">
            </form>
            {%else%}
                <a href="{%url 'login'%}">Login</a>
                <a href="{%url 'login'%}">register</a>
            {%endif%}
        </td>
    </tr>
    <tr>
        <td colspan="7">
           {%block test%}
            {%endblock%}
        </td>
    </tr>
    <tr>
        <td colspan="1">
            <h1>Menu</h1>
            <a href="{%url 'Tracks'%}">Tracks</a>
            </br>
            <a href="">New Track</a></br>
            <a href="">Trainees</a></br>
            <a href="">New Trainee</a></br>
        </td>
        <td colspan="6">
            {%block content%}
                 Parent content
            {%endblock%}
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <h1>Footer</h1>
        </td>
    </tr>
</table>

<title>LIst</title>
{%block javascript%}
<!--<img src="{%static 'imges/main.png'%}"-->
{%endblock%}
<script src="{%static 'js/bootstrap.js'%}"/>