{%extends 'parent.html'%}
{%block title%}
    Trainee -List
{%endblock%}
{%block content%}
  <form method="post" enctype="multipart/form-data">
      {%csrf_token%}
        <label>Track:</label>
      <select name="trackid">
          {%for track in tracks%}
            <option value="{{track.id}}">{{track.name}}</option>
          {%endfor%}

      </select>
      <label>Name:</label>
      <input type="text" name="tname" required></br>

        <label>Email:</label>
      <input type="text" name="temail" required></br>

        <label>Image:</label>
      <input type="file" name="timg" required></br>
      <input type="submit" value="Add">
  </form>
<div style="color:red">
    {{msg}}
</div>
{%endblock%}