{%extends 'parent.html'%}
{%block title%}
    Trainee -List
{%endblock%}
{%block content%}
  <form method="post">
      {%csrf_token%}
      <select name="trackid">
          {%for track in tracks%}
            {%if track.id == trainee.track2.id%}
                <option selected value="{{track.id}}">{{track.name}}</option>
            {%else%}
                <option  value="{{track.id}}">{{track.name}}</option>
            {%endif%}
          {%endfor%}

      </select>
      </br>
        <label>Name:</label>
      <input type="text" name="tname" value="{{trainee.name}}" required></br>

        <label>Email:</label>
      <input type="text" name="temail" required  value="{{trainee.email}}"></br>

        <label>Image:</label>
      <input type="file" name="timg" required></br>
      <input type="submit" value="Update">
  </form>
{%endblock%}